@charset 'utf-8';

body {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.wrapper {
    width: 50%;
    height: 100vh;
    
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-content: center;
}

.project-item  {
    background: #aaa;
    color: white;
    font-style: italic;
    min-height: 200px;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    transition: all .35s;
}

.project-item:hover {
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 2px #000, inset -2px -2px 2px #000;
}

.project-item a {
    font-size: 3vmax;
    display: block;
    color: white;
    text-decoration: none;
}

.item1 {
    background: #1abc9c;
    transition: all .3s;
}

.item1:hover {
/*
    background: url(../images/school-bench.jpg);
    background-size: contain; 
*/
}

.item2 {
    background: #3498db;
}

.item3 {
    background: #9b59b6;
}

.item4 {
    background: #34495e;
}

.item5 {
    background: #f39c12;
}

.item6 {
    background: #e74c3c;
}

.item7 {
    background: #bdc3c7;
}

.item8 {
    background: #2c3e50;
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 300px;
    }
}